[Unit]
Description=Prometheus SLURM Exporter

[Service]
User=slurm_exporter
Group=slurm_exporter
ExecStart=/usr/bin/prometheus-slurm-exporter --listen-address=0.0.0.0:9341
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
